In [65]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [66]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.externals.six import StringIO  
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.metrics import mean_squared_error,confusion_matrix, classification_report

In [67]:
# Import logistic regression function
from sklearn.linear_model import LogisticRegression
# calculate accuracy measures and confusion matrix
from sklearn import metrics

In [68]:
test = pd.read_csv('test.csv')

In [69]:
test.head()

,Ref.No,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
0,17083.0,50000.0,2.0,1.0,2.0,25.0,0.0,0.0,0.0,0.0,...,40002.0,38008.0,39606,38680,2000,1500,2000,1500,1500,0
1,3494.0,120000.0,2.0,2.0,2.0,24.0,0.0,0.0,0.0,0.0,...,11761.0,6761.0,13711,8294,12300,32520,34,68,8334,45684
2,21945.0,120000.0,2.0,2.0,2.0,27.0,1.0,-2.0,-1.0,-1.0,...,2382.0,0.0,18926,17717,1264,1249,625,700,1000,1000
3,3499.0,60000.0,1.0,1.0,2.0,28.0,0.0,-1.0,0.0,0.0,...,13421.0,9900.0,21071,2099,3008,3000,5000,10000,2099,0
4,18973.0,100000.0,2.0,1.0,2.0,28.0,3.0,2.0,0.0,0.0,...,49899.0,53407.0,0,0,0,0,0,0,0,0

In [71]:
citi = pd.read_csv('train_final.csv')
citi.columns

Index(['Ref.No', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10',
       'X11', 'X12', 'X13', 'X14', 'X15', 'Y'],
      dtype='object')

In [73]:
test=test.loc[:,['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7','X8', 'X9', 'X10', 'X11', 'X12', 'X13', 'X14','X15']]
test.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15
0,50000.0,2.0,1.0,2.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,45342.0,44719.0,40002.0,38008.0
1,120000.0,2.0,2.0,2.0,24.0,0.0,0.0,0.0,0.0,0.0,-1.0,11296.0,12200.0,11761.0,6761.0
2,120000.0,2.0,2.0,2.0,27.0,1.0,-2.0,-1.0,-1.0,-2.0,-2.0,0.0,0.0,2382.0,0.0
3,60000.0,1.0,1.0,2.0,28.0,0.0,-1.0,0.0,0.0,-1.0,2.0,2295.0,5293.0,13421.0,9900.0
4,100000.0,2.0,1.0,2.0,28.0,3.0,2.0,0.0,0.0,2.0,0.0,49961.0,48856.0,49899.0,53407.0

In [91]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21600 entries, 0 to 21599
Data columns (total 15 columns):
X1     2399 non-null float64
X2     2399 non-null float64
X3     2399 non-null float64
X4     2399 non-null float64
X5     2399 non-null float64
X6     2399 non-null float64
X7     2399 non-null float64
X8     2399 non-null float64
X9     2399 non-null float64
X10    2399 non-null float64
X11    2399 non-null float64
X12    2399 non-null float64
X13    2399 non-null float64
X14    2399 non-null float64
X15    2399 non-null float64
dtypes: float64(15)
memory usage: 2.5 MB

In [18]:
#citi.columns=['Ref_No','credit_amount','gender','education','marital_status','age','sep_hist','aug_hist','Y']
#test.columns=['credit_amount','gender','education','marital_status','age','sep_hist','aug_hist']
#citi.columns

In [74]:
citi.info()
# No null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21600 entries, 0 to 21599
Data columns (total 17 columns):
Ref.No    21600 non-null int64
X1        21600 non-null int64
X2        21600 non-null int64
X3        21600 non-null int64
X4        21600 non-null int64
X5        21600 non-null int64
X6        21600 non-null int64
X7        21600 non-null int64
X8        21600 non-null int64
X9        21600 non-null int64
X10       21600 non-null int64
X11       21600 non-null int64
X12       21600 non-null int64
X13       21600 non-null int64
X14       21600 non-null int64
X15       21600 non-null int64
Y         21600 non-null int64
dtypes: int64(17)
memory usage: 2.8 MB

In [78]:
df=citi.copy()

In [95]:
y = df[['Y']]
X = df.drop(['X10','X4'], axis = 1)

In [80]:
X.columns

Index(['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11',
       'X12', 'X13', 'X14', 'X15'],
      dtype='object')

In [36]:
#dummy_df=X[['gender', 'education', 'marital_status', 'sep_hist', 'aug_hist']]
#X = X.drop(['gender', 'education', 'marital_status', 'sep_hist', 'aug_hist'], axis = 1)

In [37]:
#dummy_df=pd.get_dummies(dummy_df, prefix=['gender', 'edu', 'marital_status', 'sep', 'aug'], columns=['gender', 'education', 'marital_status', 'sep_hist', 'aug_hist'], drop_first=True)
#dummy_df.head()

In [81]:
X.shape

(21600, 15)

In [25]:
#X = pd.concat([X, dummy_df], axis=1, join='inner')

In [83]:
y.shape

(21600, 1)

In [96]:
def classficationModelAccuracies(x, y, model):
    model1 = model
    ## split data into train and test
    seed = 10
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = seed)
    ## Train the model with train data
    model1.fit(x_train, y_train)
    
    ## Train accuracies
    predictedClass = model1.predict(x_train)
    cMatrix = metrics.confusion_matrix(predictedClass, y_train)
    cMatrix
    # Classification accuracy
    trainClassificationAccuracy = (cMatrix[0][0] + cMatrix[1][1])/sum(sum(cMatrix))
    ## TP percentage
    trainTpPct = (cMatrix[1][1])/(cMatrix[1][0] + cMatrix[1][1])
    ## FP = Flase postive -> does not have disease but predicted as having disease
    # FP percentage
    trainFpPct = (cMatrix[0][1])/(cMatrix[0][0] + cMatrix[0][1])
    trainAccuracies = [len(y_train), trainClassificationAccuracy, trainTpPct, trainFpPct]
    
    ## Test accuracies
    predictedClass = model1.predict(x_test)
    cMatrix = metrics.confusion_matrix(predictedClass, y_test)
    cMatrix
    # Classification accuracy
    testClassificationAccuracy = (cMatrix[0][0] + cMatrix[1][1])/sum(sum(cMatrix))
    ## TP percentage
    testTpPct = (cMatrix[1][1])/(cMatrix[1][0] + cMatrix[1][1])
    ## FP = Flase postive -> does not have disease but predicted as having disease
    # FP percentage
    testFpPct = (cMatrix[0][1])/(cMatrix[0][0] + cMatrix[0][1])
    testAccuracies = [len(y_test), testClassificationAccuracy, testTpPct, testFpPct]
    
    ## Results
    resultDf = pd.DataFrame(index = ["dataSize", "accuracy", "tpPct", "fpPct"])
    resultDf['train'] = trainAccuracies
    resultDf['test'] = testAccuracies
    
    return(round(resultDf, 4))

In [97]:
model=LogisticRegression()
classficationModelAccuracies(X, y, model)

C:\Users\hp\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

               train       test
dataSize  15120.0000  6480.0000
accuracy      0.7770     0.7739
tpPct         0.0000     0.0000
fpPct         0.2229     0.2260

In [98]:
solution.to_csv("solution_basic_logistic.csv", index=False)

### Decission Tree

In [59]:
from sklearn.tree import DecisionTreeClassifier
#DecisionTreeClassifier is the corresponding Classifier
DTClassifier = DecisionTreeClassifier (max_depth=5, random_state = 0,max_features=6 , criterion='entropy')

In [60]:
model=DTClassifier
classficationModelAccuracies(X, y, model)

               train       test
dataSize  15120.0000  6480.0000
accuracy      0.8146     0.8076
tpPct         0.6976     0.6753
fpPct         0.1731     0.1785

In [50]:
solution.to_csv("solution_DTClassifier.csv", index=False)

### random forest

In [63]:
from sklearn.ensemble import RandomForestClassifier
RFClassifier = RandomForestClassifier(n_estimators = 10, random_state = 0, max_depth=3)

C:\Users\hp\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [64]:
model=RFClassifier
classficationModelAccuracies(X, y, model)

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  import sys

               train       test
dataSize  15120.0000  6480.0000
accuracy      0.8093     0.8066
tpPct         0.6950     0.7017
fpPct         0.1805     0.1842

In [92]:
def VIF(X):
    from statsmodels.stats.outliers_influence import variance_inflation_factor
    data_mat=X.as_matrix()
    vif=[variance_inflation_factor(data_mat,i) for i in range(data_mat.shape[1])]
    vif_factor = pd.DataFrame()
    vif_factor["columns"] = X.columns
    vif_factor["vif"] = vif
    return(vif_factor)

In [93]:
vif_df=VIF(X)

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

#### In an iterative way takeout all VIF values greater than 5

In [94]:
while vif_df.vif.max()>5:
    drop_column=list(vif_df[vif_df.vif==vif_df.vif.max()]['columns'].values)
    X.drop(drop_column,axis=1, inplace=True)
    vif_df=VIF(X)
vif_df

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

  columns       vif
0      X1  3.022000
1      X3  3.923627
2      X4  4.458713
3      X6  1.884679
4      X7  3.164135
5      X8  3.682607
6      X9  4.434688
7     X10  4.753138
8     X11  3.236397
9     X12  1.889045

In [ ]:
test=test.loc[:,['credit_amount', 'education', 'marital_status', 'sep_hist', 'aug_hist']]

# Adding extra columns

In [8]:
citi = pd.read_csv('C:\\Users\\hp\\Desktop\\Great Lakes\\Supervised Learning\\Kaggle Competetion\\Knn\\train.csv')
citi.columns

Index(['Ref.No', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10',
       'X11', 'X12', 'X13', 'X14', 'X15', 'Y'],
      dtype='object')